/*––––––––––––––––––––––––––––––
_FONTS.SCSS

Font styles for use across
the site.

–––––––––––––––––––––––––––––––*/

/*––––––––––––––––––––––––––––––
BLOCKS
–––––––––––––––––––––––––––––––*/


/*––––––––––––––––––––––––––––––
TEXT
–––––––––––––––––––––––––––––––*/

h1 {
	text-align: center;
	text-align-last: center;
	font-family: $display-font;
	font-size: $display-sz;
	font-weight: $semibold;
	font-variant: small-caps;
	line-height: $display-lnheight;
}

p {
	font-family: $body-font;
	font-size: $body-sz;
	font-weight: $regular;
	text-align: justify;
	line-height: $body-lnheight;
}