/*––––––––––––––––––––––––––––––
_SPACING.SCSS

Consistent spacing styles.

–––––––––––––––––––––––––––––––*/

/*––––––––––––––––––––––––––––––
BLOCKS
–––––––––––––––––––––––––––––––*/

section {
	position: relative;
	height: 100vh;
	max-height: 100vh;
	overflow: hidden;
}

header {
	padding-top: 66px;
	height: 50%;
	@media(min-width: $break-sm) {
		padding-top: 96px;
		transition: padding-top 1s;
	}
}

footer {
	position: absolute;
	width: 100%;
	bottom: 0;
	height: 12%;
	transition: height 1s;
	@media(min-width: $break-sm) {
		height: 12%;
		transition: height 1s;
	}
}

/*––––––––––––––––––––––––––––––
TEXT
–––––––––––––––––––––––––––––––*/

h1 {
	display: block;
	margin: 0 auto;
	padding-bottom: 20px;
}

p {
	max-width: 161px;
	display: block;
	margin: 28px auto 0;
}